SELECT modifier || ',' || modification_path || ',' || votes
  FROM modification_info
 WHERE original_path IN (
       SELECT song_path
         FROM song_info
        WHERE creator='<creator>' AND name='<name>'
 );
