INSERT INTO song_contributers(song_path, contributer)
     VALUES ('<song>', '<contributer>');

DELETE FROM modification_info 
      WHERE original_path='<song>';

UPDATE song_info SET song_path='<new>' WHERE song_path='<song>' 
