<!doctype html>
<html>
    <head>
        <title>{{.Title}} by {{.Creator}}</title>
    </head>
    <body>
        <h1>{{.Title}} by {{.Creator}}</h1>
        <br>
        <audio controls>
            <source src=http://127.0.0.1:8080/song/{{.Path}} type="audio/mpeg">
            <source src=http://127.0.0.1:8080/song/{{.Path}} type="audio/wav">
        </audio>
        <br>
        <br>
        <h2>Contributers</h2>
        {{range .Contributers}}
        {{.}}
        <br>
        {{end}}
        <br>
        <br>
        <h2>Pending Modifications</h2>
        {{range .Modifications}}
        {{.Title}}
        <audio controls>
            <source src=http://127.0.0.1:8080/song/{{.Path}} type="audio/mpeg">
            <source src=http://127.0.0.1:8080/song/{{.Path}} type="audio/wav">
        </audio>
        {{.Votes}}
        {{end}}
    </body>
</html>
