<!doctype html>
<html>
    <head>
        <title>{{.Title}} by {{.Creator}}</title>
    </head>
    <body>
        <h1>{{.Title}} by {{.Creator}}</h1>
        <br>
        <audio controls>
            <source src=http://127.0.0.1:8080/song/{{.Path}} type="audio/mpeg">
            <source src=http://127.0.0.1:8080/song/{{.Path}} type="audio/wav">
        </audio>
        <form action="http://127.0.0.1:8080/modification_upload" enctype="multipart/form-data" method="post">
            <input type="file" name="modification" accept="audio/*">
            <input type="hidden" name="creator" value={{.Creator}}>
            <input type="hidden" name="title" value={{.Title}}>
            <input type="submit" value="Ball Out!">
        </form>
        <br>
        <br>
        <h2>Contributers</h2>
        {{range $contributer := .Contributers}}
        {{$contributer}}
        <br>
        {{end}}
        <br>
        <br>
        <h2>Pending Modifications</h2>
        {{range $modification := .Modifications}}
        {{$modification.Title}}
        <audio controls>
            <source src=http://127.0.0.1:8080/song/{{$modification.Path}} type="audio/mpeg">
            <source src=http://127.0.0.1:8080/song/{{$modification.Path}} type="audio/wav">
            <form action="http://127.0.0.1:8080/vote_page" method="post">
                <input type="hidden" name="vote", value=-1>
                <input type="submit" value="<-">
            </form>
            <form action="http://127.0.0.1:8080/vote_page" method="post">
                <input type="hidden" name="vote", value=1>
                <input type="submit" value="->">
            </form>
        </audio>
        {{$modification.Votes}}
        {{end}}
    </body>
</html>
